<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增出铁流速预报')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-blastfurnacespeed-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">外键对应液位ID：</label>
                <div class="col-sm-8">
                    <input name="blastFurnaceLevelIdIndex" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">1号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA1Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">2号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA2Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">3号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA3Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">6号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA6Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">7号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA7Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">8号铁水罐位流速：</label>
                <div class="col-sm-8">
                    <input name="equipmentA8Speed" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">1号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA1Flow" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">2号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA2Flow" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">3号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA3Flow" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">6号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA6Flow" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">7号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA7Flow" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">8号铁水罐位流量：</label>
                <div class="col-sm-8">
                    <input name="equipmentA8Flow" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "product/blastfurnacespeed"
        $("#form-blastfurnacespeed-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-blastfurnacespeed-add').serialize());
            }
        }
    </script>
</body>
</html>