<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProductBlastFurnaceLevelMapper">
    
    <resultMap type="ProductBlastFurnaceLevel" id="ProductBlastFurnaceLevelResult">
        <result property="blastFurnaceLevelId"    column="blast_furnace_level_id"    />
        <result property="datetime"    column="datetime"    />
        <result property="equipmentA1"    column="equipment_a1"    />
        <result property="equipmentA2"    column="equipment_a2"    />
        <result property="equipmentA3"    column="equipment_a3"    />
        <result property="equipmentA6"    column="equipment_a6"    />
        <result property="equipmentA7"    column="equipment_a7"    />
        <result property="equipmentA8"    column="equipment_a8"    />
    </resultMap>

    <sql id="selectProductBlastFurnaceLevelVo">
        select blast_furnace_level_id, datetime, equipment_a1, equipment_a2, equipment_a3, equipment_a6, equipment_a7, equipment_a8 from product_blast_furnace_level
    </sql>

    <select id="selectProductBlastFurnaceLevelList" parameterType="ProductBlastFurnaceLevel" resultMap="ProductBlastFurnaceLevelResult">
        <include refid="selectProductBlastFurnaceLevelVo"/>
        <where>  
            <if test="datetime != null "> and datetime = #{datetime}</if>
            <if test="equipmentA1 != null "> and equipment_a1 = #{equipmentA1}</if>
            <if test="equipmentA2 != null "> and equipment_a2 = #{equipmentA2}</if>
            <if test="equipmentA3 != null "> and equipment_a3 = #{equipmentA3}</if>
            <if test="equipmentA6 != null "> and equipment_a6 = #{equipmentA6}</if>
            <if test="equipmentA7 != null "> and equipment_a7 = #{equipmentA7}</if>
            <if test="equipmentA8 != null "> and equipment_a8 = #{equipmentA8}</if>
        </where>
    </select>

    <!--新增：查询最新3万行液位数据给大数据表-->
    <select id="selectProductBlastFurnaceLevelListNew" parameterType="ProductBlastFurnaceLevel" resultMap="ProductBlastFurnaceLevelResult">
        select datetime, equipment_a1, equipment_a2, equipment_a3, equipment_a6, equipment_a7, equipment_a8
        from product_blast_furnace_level
        ORDER BY blast_furnace_level_id DESC
            LIMIT 30000
    </select>

    <!--已被魔改成读取当前id最大的一位，也就是当前最新行-->
    <select id="selectProductBlastFurnaceLevelByBlastFurnaceLevelId" parameterType="Long" resultMap="ProductBlastFurnaceLevelResult">
        SELECT equipment_a1, equipment_a2, equipment_a3, equipment_a6, equipment_a7, equipment_a8
        FROM product_blast_furnace_level
        ORDER BY blast_furnace_level_id DESC
            LIMIT 1;
    </select>

    <insert id="insertProductBlastFurnaceLevel" parameterType="ProductBlastFurnaceLevel" useGeneratedKeys="true" keyProperty="blastFurnaceLevelId">
        insert into product_blast_furnace_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="datetime != null">datetime,</if>
            <if test="equipmentA1 != null">equipment_a1,</if>
            <if test="equipmentA2 != null">equipment_a2,</if>
            <if test="equipmentA3 != null">equipment_a3,</if>
            <if test="equipmentA6 != null">equipment_a6,</if>
            <if test="equipmentA7 != null">equipment_a7,</if>
            <if test="equipmentA8 != null">equipment_a8,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="datetime != null">#{datetime},</if>
            <if test="equipmentA1 != null">#{equipmentA1},</if>
            <if test="equipmentA2 != null">#{equipmentA2},</if>
            <if test="equipmentA3 != null">#{equipmentA3},</if>
            <if test="equipmentA6 != null">#{equipmentA6},</if>
            <if test="equipmentA7 != null">#{equipmentA7},</if>
            <if test="equipmentA8 != null">#{equipmentA8},</if>
         </trim>
    </insert>

    <update id="updateProductBlastFurnaceLevel" parameterType="ProductBlastFurnaceLevel">
        update product_blast_furnace_level
        <trim prefix="SET" suffixOverrides=",">
            <if test="datetime != null">datetime = #{datetime},</if>
            <if test="equipmentA1 != null">equipment_a1 = #{equipmentA1},</if>
            <if test="equipmentA2 != null">equipment_a2 = #{equipmentA2},</if>
            <if test="equipmentA3 != null">equipment_a3 = #{equipmentA3},</if>
            <if test="equipmentA6 != null">equipment_a6 = #{equipmentA6},</if>
            <if test="equipmentA7 != null">equipment_a7 = #{equipmentA7},</if>
            <if test="equipmentA8 != null">equipment_a8 = #{equipmentA8},</if>
        </trim>
        where blast_furnace_level_id = #{blastFurnaceLevelId}
    </update>

    <delete id="deleteProductBlastFurnaceLevelByBlastFurnaceLevelId" parameterType="Long">
        delete from product_blast_furnace_level where blast_furnace_level_id = #{blastFurnaceLevelId}
    </delete>

    <delete id="deleteProductBlastFurnaceLevelByBlastFurnaceLevelIds" parameterType="String">
        delete from product_blast_furnace_level where blast_furnace_level_id in 
        <foreach item="blastFurnaceLevelId" collection="array" open="(" separator="," close=")">
            #{blastFurnaceLevelId}
        </foreach>
    </delete>

</mapper>