<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <th:block th:include="include :: header('出铁重量计量图')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="echarts" style="height: 95%; width: 60%; margin: 50px auto" id="main"></div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">

  var prefix = ctx + "product/blastfurnaceweight";

  //出铁重量计量图
  $(function() {

    var chartDom = document.getElementById('main');//对象ID
    var realTimeChart = echarts.init(chartDom);

    var realTimeOption = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {
        data: ['当前液位(dm)', '预测重量(t)']
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          axisTick: {
            show: false
          },
          data: ['1号铁水包', '2号铁水包', '3号铁水包', '6号铁水包', '7号铁水包', '8号铁水包']
        }
      ],
      yAxis: [{
        type: 'value',
        max: 80,
        min: -30
      }],
      series: [
        {
          name: '预测重量(t)',
          type: 'bar',
          stack: 'Total',
          label: {
            show: true
          },
          emphasis: {
            focus: 'series'
          },
          data: [0, 0, 0, 0, 0, 0]
        },
        {
          name: '当前液位(dm)',
          type: 'bar',
          stack: 'Total',
          label: {
            show: true,
          },
          emphasis: {
            focus: 'series'
          },
          data: [-0, -0, -0, -0, -0, -0]
        }
      ]
    };

    realTimeChart.setOption(realTimeOption);
    realTimeChart.showLoading();
    $(window).resize(realTimeChart.resize);

    var currentEcharts = function () {

      //定义变量
      var equipmentA1WeightData;
      var equipmentA2WeightData;
      var equipmentA3WeightData;
      var equipmentA6WeightData;
      var equipmentA7WeightData;
      var equipmentA8WeightData;
      var equipmentA1LevelData;
      var equipmentA2LevelData;
      var equipmentA3LevelData;
      var equipmentA6LevelData;
      var equipmentA7LevelData;
      var equipmentA8LevelData;

      //写入重量数据
      $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : prefix + "/echarts", //请求发送到Controller处，路径我上面写好了的，直接拼的，你自己按照你的写
        data : {},
        dataType : "json", //返回数据形式为json
        success : function(result) {
          if (result) {
            equipmentA1WeightData = result.equipmentA1Weight; //取出铁水包1重量
            equipmentA2WeightData = result.equipmentA2Weight; //取出铁水包2重量
            equipmentA3WeightData = result.equipmentA3Weight; //取出铁水包3重量
            equipmentA6WeightData = result.equipmentA6Weight; //取出铁水包6重量
            equipmentA7WeightData = result.equipmentA7Weight; //取出铁水包7重量
            equipmentA8WeightData = result.equipmentA8Weight; //取出铁水包8重量
          }
          realTimeChart.hideLoading(); //隐藏加载动画
          realTimeChart.setOption({ //加载数据图表
            series: [
              {
                data: [equipmentA1WeightData, equipmentA2WeightData, equipmentA3WeightData,
                  equipmentA6WeightData, equipmentA7WeightData, equipmentA8WeightData]
              },
              {}
            ]
          });
        }
      })

      //写入液位数据
      $.ajax({
        type : "post",
        async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
        url : ctx + "product/blastfurnacelevel/realTimeEcharts", //请求发送到Controller处，路径我上面写好了的，直接拼的，你自己按照你的写
        data : {},
        dataType : "json", //返回数据形式为json
        success : function(result) {
          //请求成功时执行该函数内容，result即为服务器返回的json对象
          if (result) {
            equipmentA1LevelData = Math.round(result.equipmentA1 * 1000) / 100; //取出铁水包1液位
            equipmentA2LevelData = Math.round(result.equipmentA2 * 1000) / 100; //取出铁水包2液位
            equipmentA3LevelData = Math.round(result.equipmentA3 * 1000) / 100; //取出铁水包3液位
            equipmentA6LevelData = Math.round(result.equipmentA6 * 1000) / 100; //取出铁水包6液位
            equipmentA7LevelData = Math.round(result.equipmentA7 * 1000) / 100; //取出铁水包7液位
            equipmentA8LevelData = Math.round(result.equipmentA8 * 1000) / 100; //取出铁水包8液位
          }
          realTimeChart.hideLoading(); //隐藏加载动画
          realTimeChart.setOption({ //加载数据图表
            series: [
              {},
              {
                data: [-equipmentA1LevelData, -equipmentA2LevelData, -equipmentA3LevelData,
                  -equipmentA6LevelData, -equipmentA7LevelData, -equipmentA8LevelData]
              }
            ]
          });
        },
        error : function(errorMsg) {
          //请求失败时执行该函数
          alert("图表请求数据失败!");
          realTimeChart.hideLoading();
        }
      })
    }
    setInterval(currentEcharts,1000);
  });


</script>
<th:block th:include="include :: echarts-js" />
</body>
</html>