<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>安工大智能冶金研究所介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                                           产学研结合平台持续开发中
                <br><a target="_blank" href="https://www.ahut.edu.cn/">https://www.ahut.edu.cn/</a><br>
                <!--                           领取腾讯云通用云产品2860优惠券-->
                <!--<br><a target="_blank" href="https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console">https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console</a><br>-->
                <!--                           阿里云服务器折扣区 <a target="_blank" href="http://aly.ruoyi.vip">☛☛点我进入☚☚</a> &nbsp;&nbsp;&nbsp; 腾讯云服务器秒杀区 <a target="_blank" href="http://txy.ruoyi.vip">☛☛点我进入☚☚</a><br>-->
                <!--<h4 class="text-danger">云产品通用红包，可叠加官网常规优惠使用。(仅限新用户)</h4>-->
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>访客，你好！</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>安工大智能冶金研究所后台管理框架</h2>
            <p>以开源框架若依为模版搭建，支持移动端访问</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <!--<p>-->
            <!--    <span class="label label-warning">&yen;免费开源</span>-->
            <!--</p>-->
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://www.baidu.com" target="_blank">
                    <i class="fa fa-home"> </i> 访问主页
                </a>
                <a class="btn btn-white btn-bitbucket" href="https://github.com/917940234/RuoYi_ZONG" target="_blank">
                    <i class="fa fa-cloud"></i> 访问github
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="blank" target="_blank">暂无</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：917940234<!--<a href="https://jq.qq.com/?_wv=1027&k=p86p2AJX" target="_blank">213650505</a>-->
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：917940234<!--<a href="javascript:;">/ *若依</a>-->
                        </p>
                        <!--<p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <!--<div class="panel panel-default">-->
                                <!--    <div class="panel-heading">-->
                                <!--        <h5 class="panel-title">-->
                                <!--            <a data-toggle="collapse" data-parent="#version" href="#v版本号">v版本号</a><code class="pull-right">日期</code>-->
                                <!--        </h5>-->
                                <!--    </div>-->
                                <!--    <div id="v版本号" class="panel-collapse collapse in">&lt;!&ndash;collpse in显示，collapse隐藏&ndash;&gt;-->
                                <!--        <div class="panel-body">-->
                                <!--            <ol>-->
                                <!--                <li>内容</li>-->
                                <!--            </ol>-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--</div>  -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.7">v1.0.7</a><code class="pull-right">2022.10.11</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.7" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发出铁时间计控模块</li>
                                                <li>开发出铁重量计量模块</li>
                                                <li>开发出铁流速预报模块</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.6">v1.0.6</a><code class="pull-right">2022.10.10</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.6" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发铁水包状态模块</li>
                                                <li>更新动态显示功能</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v105">v1.0.5</a><code class="pull-right">2022.09.27</code>
                                        </h5>
                                    </div>
                                    <div id="v105" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>继续开发高炉液位跟踪系统，升级波浪图样式，添加高炉出铁水示意图，位置调整，添加出铁水视频</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v104">v1.0.4</a><code class="pull-right">2022.09.26</code>
                                        </h5>
                                    </div>
                                    <div id="v104" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发高炉液位跟踪系统，采用波浪柱形图</li>
                                                <li>开发方式：六个高炉六个动态波浪图图以形象化展现效果，连接后台mysql数据库新表，新表包括id,times,高炉具体数据</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v103">v1.0.3</a><code class="pull-right">2022.09.23</code>
                                        </h5>
                                    </div>
                                    <div id="v103" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>实现数据可视化功能，折线图优化</li>
                                                <li>实现单独页面的添加，首先通过系统管理中的菜单管理添加，然后自己写一个页面，在相应的control中添加相关跳转页面的方法，注意权限注解、getmapper注解和return</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v102">v1.0.2</a><code class="pull-right">2022.09.22</code>
                                        </h5>
                                    </div>
                                    <div id="v102" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>增加用户任务报告功能，可添加新安排任务，已完成任务，继续开发数据可视化功能</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            	<div class="panel panel-default">
									<div class="panel-heading">
									   <h5 class="panel-title">
										   <a data-toggle="collapse" data-parent="#version" href="#v101">v1.0.1</a><code class="pull-right">2022.09.21</code>
									   </h5>
									</div>
									<div id="v101" class="panel-collapse collapse in"><!--collpse in显示，collapse隐藏-->
										<div class="panel-body">
											<ol>
												<li>修改logo，名称，添加菜单栏，修改权限管理，用户管理，二维码，主页等必要内容。</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v100">v1.0.0</a><code class="pull-right">2022.09.21</code>
										</h4>
									</div>
									<div id="v100" class="panel-collapse collapse in">
										<div class="panel-body">
											<ol>
												<li>基于若依的管理系统基本完成</li>
											</ol>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!--<div class="ibox float-e-margins">-->
                    <!--<div class="ibox-title">-->
                    <!--    <h5>捐赠</h5>-->
                    <!--</div>-->
                    <!--<div class="ibox-content">-->
                    <!--    <div class="alert alert-warning">-->
                    <!--        	请作者喝杯咖啡（点击图片放大）-->
                    <!--    </div>-->
                    <!--    <p id="pay-qrcode">-->
                    <!--        <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">-->
                    <!--        </a>-->
                    <!--    </p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', '360px'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
