<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>安工大智能冶金研究所介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                                           产学研结合平台持续开发中
                <br><a target="_blank" href="https://www.ahut.edu.cn/">https://www.ahut.edu.cn/</a><br>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-5">
            <h2>长江钢铁2#高炉铁水液位在线自动检测管控系统</h2>
            <p>安徽工业大学智能冶金研究所</p>
            <p>
                <b>当前版本：</b><span>v[[${version}]]</span>
            </p>
            <!--<p>-->
            <!--    <span class="label label-warning">&yen;免费开源</span>-->
            <!--</p>-->
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://www.baidu.com" target="_blank">
                    <i class="fa fa-home"> </i> 访问主页
                </a>
                <a class="btn btn-white btn-bitbucket" href="https://github.com/917940234/RuoYi_ZONG" target="_blank">
                    <i class="fa fa-cloud"></i> 访问github
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot</li>
                <li>安全框架：Apache Shiro</li>
                <li>模板引擎：Thymeleaf</li>
                <li>持久层框架：MyBatis</li>
				<li>定时任务:Quartz</li>
                <li>数据库连接池：Druid</li>
                <li>工具类：Fastjson</li>
            </ol>
        </div>
        <div class="col-sm-3">
            <h2>你好！欢迎使用本系统！</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                                <!--<div class="panel panel-default">-->
                                <!--    <div class="panel-heading">-->
                                <!--        <h5 class="panel-title">-->
                                <!--            <a data-toggle="collapse" data-parent="#version" href="#v版本号">v版本号</a><code class="pull-right">日期</code>-->
                                <!--        </h5>-->
                                <!--    </div>-->
                                <!--    <div id="v版本号" class="panel-collapse collapse in">&lt;!&ndash;collapse in显示，collapse隐藏&ndash;&gt;-->
                                <!--        <div class="panel-body">-->
                                <!--            <ol>-->
                                <!--                <li>内容</li>-->
                                <!--            </ol>-->
                                <!--        </div>-->
                                <!--    </div>-->
                                <!--</div>  -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.1.0">v1.1.0</a><code class="pull-right">2022.11.26</code>
                                        </h5>
                                    </div>
                                    <div id="v1.1.0" class="panel-collapse collapse in"><!--collapse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>美化液位实时监控界面</li>
                                                <li>更新出铁重量计量界面</li>
                                                <li>优化液位数据监控表，每次值只读取3万条最新数据，防止过量数据造成卡顿</li>
                                                <li>删除界面不必要菜单</li>
                                                <li>更新优化部分数据库逻辑</li>
                                                <li>重构部分SQL语句，提高查询效率</li>
                                                <li>编写数据库：</li>
                                                <li>1. 编写铁水包状态模块：出铁/空包/满包</li>
                                                <li>2. 铁水包状态写入数据库相关表</li>
                                                <li>3. 编写出铁时间记控模块：开始出铁时间，出铁报警时间，出铁结束时间，出铁时长</li>
                                                <li>4. 开始出铁时间，出铁报警时间，出铁结束时间，出铁时长写入数据库相关表</li>
                                                <li>5. 编写出铁重量计量模块：当前液位，重量预测</li>
                                                <li>6. 当前液位，重量预测写入数据库相关表</li>
                                                <li>7. 编写出铁流速预报模块：当前流速t/min</li>
                                                <li>8. 当前流速写入数据库相关表</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.12">v1.0.12</a><code class="pull-right">2022.11.16</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.12" class="panel-collapse collapse"><!--collapse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>实现读取modbus数据功能</li>
                                                <li>将读取串口数据写入本系统液位表</li>
                                                <li>数据库基础表：液位表更新，液位数据类型由int变为double</li>
                                                <li>更新整个液位模块页面</li>
                                                <li></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.11">v1.0.11</a><code class="pull-right">2022.10.20</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.11" class="panel-collapse collapse"><!--collapse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>高炉动画修改</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.9">v1.0.9</a><code class="pull-right">2022.10.19</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.9" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>优化铁水包状态图，背景色</li>
                                                <li>优化菜单栏</li>
                                                <li>增加参数设置功能</li>
                                                <li>增加exe4j打包功能</li>
                                                <li>增加lnno setup安装功能，可傻瓜式一键部署整个系统</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.8">v1.0.8</a><code class="pull-right">2022.10.17</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.8" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发出铁重量计量图界面</li>
                                                <li>开发出铁流速预报图界面</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.7">v1.0.7</a><code class="pull-right">2022.10.11</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.7" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发出铁时间计控模块</li>
                                                <li>开发出铁重量计量模块</li>
                                                <li>开发出铁流速预报模块</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v1.0.6">v1.0.6</a><code class="pull-right">2022.10.10</code>
                                        </h5>
                                    </div>
                                    <div id="v1.0.6" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发铁水包状态模块</li>
                                                <li>更新动态显示功能</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v105">v1.0.5</a><code class="pull-right">2022.09.27</code>
                                        </h5>
                                    </div>
                                    <div id="v105" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>继续开发高炉液位跟踪系统，升级波浪图样式，添加高炉出铁水示意图，位置调整，添加出铁水视频</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v104">v1.0.4</a><code class="pull-right">2022.09.26</code>
                                        </h5>
                                    </div>
                                    <div id="v104" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>开发高炉液位跟踪系统，采用波浪柱形图</li>
                                                <li>开发方式：六个高炉六个动态波浪图图以形象化展现效果，连接后台mysql数据库新表，新表包括id,times,高炉具体数据</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v103">v1.0.3</a><code class="pull-right">2022.09.23</code>
                                        </h5>
                                    </div>
                                    <div id="v103" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>实现数据可视化功能，折线图优化</li>
                                                <li>实现单独页面的添加，首先通过系统管理中的菜单管理添加，然后自己写一个页面，在相应的control中添加相关跳转页面的方法，注意权限注解、getmapper注解和return</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v102">v1.0.2</a><code class="pull-right">2022.09.22</code>
                                        </h5>
                                    </div>
                                    <div id="v102" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
                                        <div class="panel-body">
                                            <ol>
                                                <li>增加用户任务报告功能，可添加新安排任务，已完成任务，继续开发数据可视化功能</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            	<div class="panel panel-default">
									<div class="panel-heading">
									   <h5 class="panel-title">
										   <a data-toggle="collapse" data-parent="#version" href="#v101">v1.0.1</a><code class="pull-right">2022.09.21</code>
									   </h5>
									</div>
									<div id="v101" class="panel-collapse collapse"><!--collpse in显示，collapse隐藏-->
										<div class="panel-body">
											<ol>
												<li>修改logo，名称，添加菜单栏，修改权限管理，用户管理，二维码，主页等必要内容。</li>
											</ol>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v100">v1.0.0</a><code class="pull-right">2022.09.21</code>
										</h4>
									</div>
									<div id="v100" class="panel-collapse collapse">
										<div class="panel-body">
											<ol>
												<li>基于若依的管理系统基本完成</li>
											</ol>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="https://www.ahut.edu.cn/" target="_blank">安徽工业大学</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<!--<a href="https://jq.qq.com/?_wv=1027&k=p86p2AJX" target="_blank">213650505</a>-->
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<!--<a href="javascript:;">/ *若依</a>-->
                        </p>
                        <!--<p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息">/ *若依</a>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!--<div class="ibox float-e-margins">-->
                    <!--<div class="ibox-title">-->
                    <!--    <h5>捐赠</h5>-->
                    <!--</div>-->
                    <!--<div class="ibox-content">-->
                    <!--    <div class="alert alert-warning">-->
                    <!--        	请作者喝杯咖啡（点击图片放大）-->
                    <!--    </div>-->
                    <!--    <p id="pay-qrcode">-->
                    <!--        <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">-->
                    <!--        </a>-->
                    <!--    </p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', '360px'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
