<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('高炉生产大数据图')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12">
                <div class="echarts" style="height: 600px" id="echarts-list-chart"></div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">

        var prefix = ctx + "product/blastfurnacelevel";

        //高炉液位大数据图
        $(function() {
            var listChart = echarts.init(document.getElementById("echarts-list-chart"));
            var listoption = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: '高炉液位大数据图'
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                //时间x轴
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                //液位高度
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%'],
                    max: 3,
                    min: 0
                },
                dataZoom: [
                    {
                        type: 'inside',
                        start: 0,
                        end: 10
                    },
                    {
                        start: 0,
                        end: 10
                    }
                ],
                //六个高度
                series: [
                    {
                        name: '1号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '2号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '3号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '6号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '7号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '8号铁水包液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    }
                ]
            };

            listChart.setOption(listoption);
            listChart.showLoading();
            $(window).resize(listChart.resize);

            var dateTime = []; //时间（已存在）数组
            var equipmentA1 = []; //1号高炉液位数组
            var equipmentA2 = []; //2号高炉液位数组
            var equipmentA3 = []; //3号高炉液位数组
            var equipmentA6 = []; //6号高炉液位数组
            var equipmentA7 = []; //7号高炉液位数组
            var equipmentA8 = []; //8号高炉液位数组

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处，路径我上面写好了的，直接拼的，你自己按照你的写
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        for (var i = 0; i < result.length; i++) {
                            dateTime.push(result[i].datetime); //挨个取出时间（已存在）并填入时间（已存在）数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA1.push(result[i].equipmentA1); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA2.push(result[i].equipmentA2); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA3.push(result[i].equipmentA3); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA6.push(result[i].equipmentA6); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA7.push(result[i].equipmentA7); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA8.push(result[i].equipmentA8); //挨个取出高炉液位并填入高炉液位数组
                        }
                        listChart.hideLoading(); //隐藏加载动画
                        listChart.setOption({ //加载数据图表
                            xAxis : {
                                data : dateTime
                            },
                            series : [ {
                                // 根据名字对应到相应的系列
                                name : '1号铁水包液位',
                                data : equipmentA1
                            }, {
                                name : '2号铁水包液位',
                                data : equipmentA2
                            }, {
                                name : '3号铁水包液位',
                                data : equipmentA3
                            }, {
                                name : '6号铁水包液位',
                                data : equipmentA6
                            }, {
                                name : '7号铁水包液位',
                                data : equipmentA7
                            }, {
                                name : '8号铁水包液位',
                                data : equipmentA8
                                }
                            ]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    listChart.hideLoading();
                }
            })
        });
    </script>
    <th:block th:include="include :: echarts-js" />
</body>
</html>