<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('高炉液位数据监测列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12">
                <div class="echarts" style="height: 600px" id="echarts-list-chart"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart1">1号高炉</div>
            </div>
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart2">2号高炉</div>
            </div>
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart3">3号高炉</div>
            </div>
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart6">6号高炉</div>
            </div>
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart7">7号高炉</div>
            </div>
            <div class="col-sm-2">
                <div class="echarts" id="echarts-realtime-chart8">8号高炉</div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">

        var prefix = ctx + "product/blastfurnacelevel";

        //高炉液位大数据图
        $(function() {
            var listChart = echarts.init(document.getElementById("echarts-list-chart"));
            var listoption = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                title: {
                    left: 'center',
                    text: '高炉液位大数据图'
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                //时间x轴
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                //液位高度
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%']
                },
                dataZoom: [
                    {
                        type: 'inside',
                        start: 0,
                        end: 10
                    },
                    {
                        start: 0,
                        end: 10
                    }
                ],
                //六个高度
                series: [
                    {
                        name: '1号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '2号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '3号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '6号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '7号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    },
                    {
                        name: '8号高炉液位',
                        type: 'line',
                        symbol: 'none',
                        sampling: 'lttb',
                        itemStyle: {
                            color: 'rgb(255, 70, 131)'
                        },
                        areaStyle: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                                {
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                },
                                {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }
                            ])
                        },
                        data: []
                    }
                ]
            };

            listChart.setOption(listoption);
            listChart.showLoading();
            $(window).resize(listChart.resize);

            var timeExisted = []; //时间（已存在）数组
            var equipmentA1 = []; //1号高炉液位数组
            var equipmentA2 = []; //2号高炉液位数组
            var equipmentA3 = []; //3号高炉液位数组
            var equipmentA6 = []; //6号高炉液位数组
            var equipmentA7 = []; //7号高炉液位数组
            var equipmentA8 = []; //8号高炉液位数组

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处，路径我上面写好了的，直接拼的，你自己按照你的写
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        for (var i = 0; i < result.length; i++) {
                            timeExisted.push(result[i].timeExisted); //挨个取出时间（已存在）并填入时间（已存在）数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA1.push(result[i].equipmentA1); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA2.push(result[i].equipmentA2); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA3.push(result[i].equipmentA3); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA6.push(result[i].equipmentA6); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA7.push(result[i].equipmentA7); //挨个取出高炉液位并填入高炉液位数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            equipmentA8.push(result[i].equipmentA8); //挨个取出高炉液位并填入高炉液位数组
                        }
                        listChart.hideLoading(); //隐藏加载动画
                        listChart.setOption({ //加载数据图表
                            xAxis : {
                                data : timeExisted
                            },
                            series : [ {
                                // 根据名字对应到相应的系列
                                name : '1号高炉液位',
                                data : equipmentA1
                            }, {
                                name : '2号高炉液位',
                                data : equipmentA2
                            }, {
                                name : '3号高炉液位',
                                data : equipmentA3
                            }, {
                                name : '6号高炉液位',
                                data : equipmentA6
                            }, {
                                name : '7号高炉液位',
                                data : equipmentA7
                            }, {
                                name : '8号高炉液位',
                                data : equipmentA8
                                }
                            ]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    listChart.hideLoading();
                }
            })
        });
        //高炉液位实时显示
        $(function() {
            var realtimeChart1 = echarts.init(document.getElementById("echarts-realtime-chart1"));

            var realtimeoption1 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '1号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart1.setOption(realtimeoption1);
            realtimeChart1.showLoading();
            $(window).resize(realtimeChart1.resize);

            var equipmentA1 = [];//1号高炉液位数组
            var equipmentA1Data;//1号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA1.push(result[0].equipmentA1); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA1Data = equipmentA1[0];
                        equipmentA1Data = equipmentA1Data/30000;
                        realtimeChart1.hideLoading(); //隐藏加载动画
                        realtimeChart1.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA1Data,equipmentA1Data-0.02,equipmentA1Data-0.05,equipmentA1Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption1.hideLoading();
                }
            })
        });
        $(function() {
            var realtimeChart2 = echarts.init(document.getElementById("echarts-realtime-chart2"));

            var realtimeoption2 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '2号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart2.setOption(realtimeoption2);
            realtimeChart2.showLoading();
            $(window).resize(realtimeChart2.resize);

            var equipmentA2 = [];//1号高炉液位数组
            var equipmentA2Data;//1号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA2.push(result[0].equipmentA2); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA2Data = equipmentA2[0];
                        equipmentA2Data = equipmentA2Data/30000;
                        realtimeChart2.hideLoading(); //隐藏加载动画
                        realtimeChart2.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA2Data,equipmentA2Data-0.02,equipmentA2Data-0.05,equipmentA2Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption2.hideLoading();
                }
            })
        });
        $(function() {
            var realtimeChart3 = echarts.init(document.getElementById("echarts-realtime-chart3"));

            var realtimeoption3 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '3号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart3.setOption(realtimeoption3);
            realtimeChart3.showLoading();
            $(window).resize(realtimeChart3.resize);

            var equipmentA3 = [];//1号高炉液位数组
            var equipmentA3Data;//1号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA3.push(result[0].equipmentA3); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA3Data = equipmentA3[0];
                        equipmentA3Data = equipmentA3Data/30000;
                        realtimeChart3.hideLoading(); //隐藏加载动画
                        realtimeChart3.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA3Data,equipmentA3Data-0.02,equipmentA3Data-0.05,equipmentA3Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption3.hideLoading();
                }
            })
        });
        $(function() {
            var realtimeChart6 = echarts.init(document.getElementById("echarts-realtime-chart6"));

            var realtimeoption6 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '6号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart6.setOption(realtimeoption6);
            realtimeChart6.showLoading();
            $(window).resize(realtimeChart6.resize);

            var equipmentA6 = [];//1号高炉液位数组
            var equipmentA6Data;//1号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA6.push(result[0].equipmentA6); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA6Data = equipmentA6[0];
                        equipmentA6Data = equipmentA6Data/30000;
                        realtimeChart6.hideLoading(); //隐藏加载动画
                        realtimeChart6.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA6Data,equipmentA6Data-0.02,equipmentA6Data-0.05,equipmentA6Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption6.hideLoading();
                }
            })
        });
        $(function() {
            var realtimeChart7 = echarts.init(document.getElementById("echarts-realtime-chart7"));

            var realtimeoption7 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '7号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart7.setOption(realtimeoption7);
            realtimeChart7.showLoading();
            $(window).resize(realtimeChart7.resize);

            var equipmentA7 = [];//1号高炉液位数组
            var equipmentA7Data;//1号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA7.push(result[0].equipmentA7); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA7Data = equipmentA7[0];
                        equipmentA7Data = equipmentA7Data/30000;
                        realtimeChart7.hideLoading(); //隐藏加载动画
                        realtimeChart7.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA7Data,equipmentA7Data-0.02,equipmentA7Data-0.05,equipmentA7Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption7.hideLoading();
                }
            })
        });
        $(function() {
            var realtimeChart8 = echarts.init(document.getElementById("echarts-realtime-chart8"));

            var realtimeoption8 = {
                series: [{
                    type: 'liquidFill',
                    data: [0.6, 0.55, 0.4, 0.25],
                    radius: '60%',
                    outline: {
                        show: false
                    },
                    backgroundStyle: {
                        borderColor: '#156ACF',
                        borderWidth: 1,
                        shadowColor: 'rgba(0, 0, 0, 0.4)',
                        shadowBlur: 20
                    },
                    shape: 'path://M367.855,428.202c-3.674-1.385-7.452-1.966-11.146-1.794c0.659-2.922,0.844-5.85,0.58-8.719 c-0.937-10.407-7.663-19.864-18.063-23.834c-10.697-4.043-22.298-1.168-29.902,6.403c3.015,0.026,6.074,0.594,9.035,1.728 c13.626,5.151,20.465,20.379,15.32,34.004c-1.905,5.02-5.177,9.115-9.22,12.05c-6.951,4.992-16.19,6.536-24.777,3.271 c-13.625-5.137-20.471-20.371-15.32-34.004c0.673-1.768,1.523-3.423,2.526-4.992h-0.014c0,0,0,0,0,0.014 c4.386-6.853,8.145-14.279,11.146-22.187c23.294-61.505-7.689-130.278-69.215-153.579c-61.532-23.293-130.279,7.69-153.579,69.202 c-6.371,16.785-8.679,34.097-7.426,50.901c0.026,0.554,0.079,1.121,0.132,1.688c4.973,57.107,41.767,109.148,98.945,130.793 c58.162,22.008,121.303,6.529,162.839-34.465c7.103-6.893,17.826-9.444,27.679-5.719c11.858,4.491,18.565,16.6,16.719,28.643 c4.438-3.126,8.033-7.564,10.117-13.045C389.751,449.992,382.411,433.709,367.855,428.202z',
                    label: {
                        position: ['38%', '40%'],
                        formatter: function() {
                            return '8号\n高炉';
                        },
                        fontSize: 18,
                        color: '#D94854'
                    }
                }]
            };

            realtimeChart8.setOption(realtimeoption8);
            realtimeChart8.showLoading();
            $(window).resize(realtimeChart8.resize);

            var equipmentA8 = [];//8号高炉液位数组
            var equipmentA8Data;//8号高炉液位单独数据

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处的实时数据图读取实时液位
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        equipmentA8.push(result[0].equipmentA8); //挨个取出时间（已存在）并填入时间（已存在）数组
                        equipmentA8Data = equipmentA8[0];
                        equipmentA8Data = equipmentA8Data/30000;
                        realtimeChart8.hideLoading(); //隐藏加载动画
                        realtimeChart8.setOption({ //加载数据图表
                            series: [{
                                data : [equipmentA8Data,equipmentA8Data-0.02,equipmentA8Data-0.05,equipmentA8Data-0.1]
                            }]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    realtimeoption8.hideLoading();
                }
            })
        });
    </script>
    <th:block th:include="include :: echarts-js" />
    <script th:src="@{/ajax/libs/report/echarts-liquidfill/echarts-liquidfill.min.js?v=2.0.5}"></script>
</body>
</html>