<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增生产数据监测')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-template-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">流号：</label>
                <div class="col-sm-8">
                    <input name="streamNo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">钢种：</label>
                <div class="col-sm-8">
                    <input name="steelGrade" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">宽度：</label>
                <div class="col-sm-8">
                    <input name="width" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">高度：</label>
                <div class="col-sm-8">
                    <input name="height" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">理论重量：</label>
                <div class="col-sm-8">
                    <input name="theoreticalWeight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际重量：</label>
                <div class="col-sm-8">
                    <input name="actualWeight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">重差：</label>
                <div class="col-sm-8">
                    <input name="weightGap" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位重量：</label>
                <div class="col-sm-8">
                    <input name="unitWeight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标定时间：</label>
                <div class="col-sm-8">
                    <input name="time" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "product/template"
        $("#form-template-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-template-add').serialize());
            }
        }
    </script>
</body>
</html>