<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('生产数据监测列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "product/template";

        $(function() {
            var lineChart = echarts.init(document.getElementById("echarts-line-chart"));
            var lineoption = {

                title : {
                    text: '实际重量监测折线图'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['理论重量','实际重量']
                },
                grid:{
                    x:40,
                    x2:40,
                    y2:48
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : true,
                        //修改点
                        data: []
                    }
                ],
                yAxis : [
                    {
                        scale : true,
                        type : 'value',
                        axisLabel : {
                            formatter: '{value} kg'
                        }
                    }
                ],
                series : [
                    {
                        name : '理论重量',
                        type : 'line',
                        //修改点
                        data : [],
                        label: {
                            show: false,
                            position: 'bottom',
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    {
                        name : '实际重量',
                        type : 'line',
                        //修改点
                        data : [],
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'average', name : '平均值'}
                            ]
                        },
                        label : {
                            show: false,
                            position: 'bottom',
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    }
                ]
            };

            lineChart.setOption(lineoption);
            lineChart.showLoading();
            $(window).resize(lineChart.resize);

            var productId = []; //序号数组（实际用来盛放X轴坐标值）
            var theoreticalWeight = []; //理论重量数组（实际用来盛放Y1坐标值）
            var actualWeight = []; //实际重量数组（实际用来盛放Y2坐标值）

            $.ajax({
                type : "post",
                async : true, //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url : prefix + "/listEcharts", //请求发送到Controller处，路径我上面写好了的，直接拼的，你自己按照你的写
                data : {},
                dataType : "json", //返回数据形式为json
                success : function(result) {
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        for (var i = 0; i < result.length; i++) {
                            productId.push(result[i].productId); //挨个取出序号并填入序号数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            theoreticalWeight.push(result[i].theoreticalWeight); //挨个取出理论重量并填入理论重量数组
                        }
                        for (var i = 0; i < result.length; i++) {
                            actualWeight.push(result[i].actualWeight); //挨个取出实际重量并填入实际重量数组
                        }
                        lineChart.hideLoading(); //隐藏加载动画
                        lineChart.setOption({ //加载数据图表
                            xAxis : {
                                data : productId
                            },
                            series : [ {
                                // 根据名字对应到相应的系列
                                name : '理论重量',
                                data : theoreticalWeight,
                            }, {
                                name : '实际重量',
                                data : actualWeight
                                }
                            ]
                        });
                    }
                },
                error : function(errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    lineChart.hideLoading();
                }
            })
        });
    </script>
    <th:block th:include="include :: echarts-js" />
</body>
</html>